@{
    ViewBag.Title = "Beacher-添加商品";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head
{
    <script>
        function Add() {        
                var options = {
                    url: '/Product/Add',
                    type: 'post',
                    dataType: 'json',
                    data: $("#fm_add").serialize(),
                    success: function (data) {
                        if (data.Success) {
                            alert("添加成功");
                            document.location.href = "/Product/Index"
                        } else {
                            alert("添加失败");
                        }
                    }
                };
                $.ajax(options);      
        }
       
    </script>

}


<form id="fm_add" class="form-horizontal">
    <fieldset>
        <div id="legend" class="">
            <legend class="">添加商品</legend>
        </div>
        <div class="control-group">
            <!-- Text input-->
            <label class="control-label" for="input01">商品名 </label>
            <div class="controls">
                <input id="add_ProductName" name="p.ProductName" type="text" placeholder="请输入商品名" class="input-xlarge">

            </div>
        </div><div class="control-group">

            <!-- Text input-->
            <label class="control-label" for="input01">商品描述：</label>
            <div class="controls">
                <input id="add_Description" name="p.Description" type="text" placeholder="请输入商品描述" class="input-xlarge">
            </div>
        </div><div class="control-group">

            <!-- Text input-->
            <label class="control-label" for="input01">商品价格</label>
            <div class="controls">
                <input id="add_Price" name="p.Price" type="text" placeholder="请输入商品价格" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">

            <!-- Text input-->
            <label class="control-label" for="input01">商品数量：</label>
            <div class="controls">
                <input id="add_ProductNum" name="p.ProductNum" type="text" placeholder="请输入商品数量" class="input-xlarge">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">添加商品图片</label>

            <!-- File Upload -->
            <div class="controls">
                <input class="input-file" id="fileInput" type="file">
            </div>
        </div>



    </fieldset>
</form>


<button id="btn_add" name="btn_add" class="btn btn-success btn-sm" onclick="Add()"><i class="icon-plus"></i> 确认</button>
<button id="btn_remove" name="btn_remove" class="btn btn-danger btn-sm"><i class="icon-remove"></i> 取消</button>




