@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

            用户名：<input type="text" autocomplete="off" style="width: 80px;" name="uid" />
            密码：<input type="password" style="width: 80px;" name="psd" />
            确认密码：<input type="password" style="width: 80px;" name="psd_affirm" />
<button type="button">注册</button>