
@{
    ViewBag.Title = "Dialog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <script>
        require(["systools"], function (tool) {
            $("#div_msgbox").on("click", ".msgbox", function() {
                var btn = $(this);
                tool.msgbox(btn.data("msg"), btn.data("icon"), Number(btn.data("timer")), btn.data("title"));
            });

            $("#btn-html").on("click", function() {
                tool.msgbox("<div class='text-left msgbox-text'><span>box的content也支持使用html噢，例如这样使用：" +
                    "<span class='red'>调用函数的过程中发生了未经处理的异常</span></span><br /><a class='pull-right' href='javascript:alert(\"这里是异常详情\")'>查看详情</a></div>"

                    , "n", 0, "使用html作为msgbox的内容");
            });

            var dialogHtml = {};

            $("#div_dialog").on("click", ".dialog", function() {
                var btn = $(this);
                var divId = btn.data("html");

                if ($.isNull(dialogHtml[divId])) {
                    var $div = $("#" + divId);
                    dialogHtml[divId] = $div.html();
                    $div.remove();
                }

                tool.dialog({
                    id: btn.data("id"),
                    title: btn.data("title"),
                    content: dialogHtml[divId],
                    width: btn.data("width"),
                    button: [
                        { preset: "cancel" },
                        {
                            preset: "ok",
                            callback: function() {
                                alert("预置的ok按钮回调，预置按钮不写回调默认操作关闭对话框");
                                return false;
                            }
                        }, 
                        {
                            id: "ok1",
                            value: "<i class='icon-ok'></i>确认",
                            callback: function() {
                                alert("也可以自己定制，这里写按钮回调事件");
                                return true;
                            },
                            cls: "btn btn-info btn-sm",
                        }, 
                    ],
                    onshow: function() {
                        alert("这里写加载完成事件");
                    }
                }).showModal();
            });

        })
    </script>

}

@section tips{
    <span class="bold">基于artDialog.js封装的系统工具tool.dialog的使用示例</span>
    <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
}

<div id="div_msgbox">
    <span class="bold">Message box</span><br/>
    <button data-icon="y" data-msg="操作成功啦" data-title="box-yes" data-timer="3000" class="btn btn-success btn-sm msgbox">yes(3s)</button>
    <button data-icon="n" data-msg="操作失败~" data-title="box-no" data-timer="5000" class="btn btn-danger btn-sm msgbox">no(5s)</button>
    <button data-icon="i" data-msg="提示信息" data-title="box-info" data-timer="1000" class="btn btn-info btn-sm msgbox">info(1s)</button>
    <button data-icon="w" data-msg="警告信息" data-title="box-warning" data-timer="1000" class="btn btn-danger btn-sm msgbox">warning(1s)</button>
    <button data-icon="q" data-msg="帮助信息" data-title="box-question" data-timer="2000" class="btn btn-primary btn-sm msgbox">question(2s)</button>
</div>
<br />
<button id="btn-html" class="btn btn-primary btn-sm msgbox">html</button>

<br /><br />

<div id="div_dialog">
    <span class="bold">Dialog</span><br/>
    <button data-id="dialog-basic" data-html="div_basic" data-title="dialog-basic" data-width="400px" class="btn btn-success btn-sm dialog">basic</button>
    <button data-id="dialog-basic1" data-html="div_basic1" data-title="dialog-basic1" data-width="700px" class="btn btn-success btn-sm dialog">basic1</button>
</div>

<div id="div_dialog_html" class="hidden">
    <div id="div_basic">
        <div>
            <span class="icon-lightbulb"></span>&nbsp;
            <span class="bold">在这里写您的Dialog内容~</span>
        </div>
    </div>
    <div id="div_basic1">
        <div>
            <span class="icon-lightbulb"></span>&nbsp;
            <span class="bold">这是另一个dialog，跟上一个只有长度不一样-..-</span>
        </div>
    </div>
</div>

