<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender" >
      <param name="File" value="E:/MyLog/Practice/" />
      <param name="AppendToFile" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <Encoding value="UTF-8" />
      <param name="MaxSizeRollBackups" value="-1" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;"  />
      
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
      
      
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]" />
        <param name="Footer" value="[Footer]&#13;&#10;"/>
        <param name="ConversionPattern" value="%n记录时间：%d  线程ID：[%t]%n设备信息：%property %n日志级别：%-5p  记录类：%c%n日志信息：%m%n"/>
      </layout>

    </appender>

  </log4net>
</configuration>